<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %white([%d{HH:mm:ss}]) %highlight(%level) %cyan(%logger{36}){}%white(:) %msg%replace( [%kvp{NONE}]){' \[]', ''}%replace( [%mdc]){' \[]', ''}%n
      </pattern>
    </encoder>
  </appender>

  <logger name="no.liflig" level="TRACE"/>
  <logger name="com.github.jknack.handlebars" level="TRACE"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
