<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{35} \(%file:%line\) - %msg [%mdc]%n</pattern>
    </layout>
  </appender>

  <logger name="no.liflig" level="TRACE"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
